# Database Admin 101 - Lab

## Introduction 

In this lab, you'll go through the process of designing and creating a database. From there, you'll begin to populate this table with mock data provided to you.

## Objectives

You will be able to:

* Use knowledge of the structure of databases to create a database and populate it

## The Scenario

You are looking to design a database for a school that will house various information from student grades to contact information, class roster lists and attendance. First, think of how you would design such a database. What tables would you include? What columns would each table have? What would be the primary means to join said tables?

## Creating the Database

Now that you've put a little thought into how you might design your database, it's time to go ahead and create it! Start by import the necessary packages. Then, create a database called **school.sqlite**.

In [1]:
# Import necessary packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#%matplotlib inline
import sqlite3

In [2]:
# Create the database school.sqlite
conn = sqlite3.connect('school.db')
cur = conn.cursor()

In [3]:
#if necessary to restart:
cur.execute("""DROP TABLE contactInfo""")

## Create a Table for Contact Information

Create a table called contactInfo to house contact information for both students and staff. Be sure to include columns for first name, last name, role (student/staff), telephone number, street, city, state, and zipcode. Be sure to also create a primary key for the table.

In [4]:
# Your code here
cur.execute("""CREATE TABLE contactInfo (
                                id INTEGER PRIMARY KEY,
                                firstName TEXT,
                                lastName TEXT,
                                role TEXT,
                                telephone  INTEGER,
                                street TEXT,
                                city TEXT,
                                state TEXT,
                                zipcode integer
                                )          
            """)

## Populate the Table

Below, code is provided for you in order to load a list of dictionaries. Briefly examine the list. Each dictionary in the list will serve as an entry for your contact info table. Once you've briefly investigated the structure of this data, write a for loop to iterate through the list and create an entry in your table for each person's contact info.

In [5]:
# Load the list of dictionaries; just run this cell
import pickle

with open('contact_list.pickle', 'rb') as f:
    contacts = pickle.load(f)

In [6]:
# Iterate over the contact list and populate the contactInfo table here
for contact in contacts:
    #print(contact)
    fn=str(contact['firstName'])
    ln=str(contact['lastName'])
    ro=str(contact['role'])
    tn=str(contact['telephone '])
    st=str(contact['street'])
    ci=str(contact['city'])
    st=str(contact['state'])
    zc=str(contact['zipcode '])
    valstring = "VALUES ('"+fn+"', '"+ln+"', '"+ro+"', '"+tn+"', '"+st+"', '"+ci+"', '"+st+"', '"+zc+"')"
    #print(valstring)
    cur.execute('''INSERT INTO contactInfo (firstName, lastName, role, telephone, street, city, state, zipcode) 
                  '''
                +valstring
                +''';
            ''')

**Query the Table to Ensure it is populated**

In [7]:
# Your code here 
cur.execute("""SELECT * 
            FROM contactInfo

            """)
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df.head(20)

,id,firstName,lastName,role,telephone,street,city,state,zipcode
0,1,Christine,Holden,staff,2035687697,CT,Stamford,CT,6995
1,2,Christopher,Warren,student,2175150957,IL,Champaign,IL,61938
2,3,Linda,Jacobson,staff,4049446441,GA,Atlanta,GA,30303
3,4,Andrew,Stepp,student,7866419252,Fl,Hialeah,Fl,33012
4,5,Jane,Evans,student,3259909290,TX,Abilene,TX,79602
5,6,Jane,Evans,student,3259909290,TX,Abilene,TX,79602
6,7,Mary,Raines,student,9075772295,AK,Ninilchik,AK,99639
7,8,Ed,Lyman,student,5179695576,MI,Lansing,MI,48933

## Commit Your Changes to the Database

Persist your changes by committing them to the database.

In [16]:
# Your code here
conn.commit()

## Create a Table for Student Grades

Create a new table in the database called "grades". In the table, include the following fields: userId, courseId, grade.

** This problem is a bit more tricky and will require a dual key. (A nuance you have yet to see.)
Here's how to do that:

```SQL
CREATE TABLE table_name(
   column_1 INTEGER NOT NULL,
   column_2 INTEGER NOT NULL,
   ...
   PRIMARY KEY(column_1,column_2,...)
);
```

In [20]:
# Create the grades table
cur.execute('''CREATE TABLE grades(
   userID INTEGER NOT NULL,
   courseID INTEGER NOT NULL,
   grade TEXT,
   PRIMARY KEY(userID,courseID)
    );''')

## Remove Duplicate Entries

An analyst just realized that there is a duplicate entry in the contactInfo table! Find and remove it.

In [37]:
# Find the duplicate entry
#df_noid = df.Drop('id', columns)
#df[df.duplicated()==True]
#df
#df_noid

In [11]:
# Delete the duplicate entry

In [12]:
# Check that the duplicate entry was removed

## Updating an Address

Ed Lyman just moved to `2910 Simpson Avenue York, PA 17403`. Update his address accordingly.

In [13]:
# Update Ed's address

In [14]:
# Query the database to ensure the change was made

## Commit Your Changes to the Database

Once again, persist your changes by committing them to the database.

In [15]:
# Your code here

## Summary

While there's certainly more to do with setting up and managing this database, you got a taste for creating, populating, and maintaining databases! Feel free to continue fleshing out this exercise for more practice.